bot/
build/
build/web/
dest/
plugins/clear
plugins/strawberry
plugins/trailers
plugins/quality
plugins/interface
plugins/cardify
plugins/broadcast
plugins/sport
node_modules/
svg/
temp/
.idea/
package-lock.json
src/utils/api/okko.js
.DS_Store
.AGENTS.md
.run
public/css/app.css
public/config.js
plugins/*/css/style.css
public/lang/*.js
build/doc/
supervisor.conf
index/github/assembly.json
