/.phpunit.cache
/.phpunit.xml.cache
/bootstrap/ssr
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore
/node_modules
/public/build
/public/hot
/public/storage
/database/*.sqlite
/storage/*.key
/storage/pail
/storage/logs/*.log
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.idea_modules/
.DS_Store
.env
.env.*
!.env.example
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
coverage/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/.editorconfig
.npmrc
composer.lock
package-lock.json
/deploy
.env.example
.prettierignore
.prettierrc
